<!DOCTYPE html>
<html>
  <head>
    <base href="@(Url.Content("~/"))" />
    <title>@ViewData["Title"]</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Html.Raw(ViewData["Meta"])
    @Html.Raw(ViewData["Links"])

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css" />

  <!-- External fonts -->
  <link href="https://brick.a.ssl.fastly.net/Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- NPM Packages -->
  <link href="~/js_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/js_modules/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="~/js_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="~/js_modules/summernote/dist/summernote.css" rel="stylesheet">

  <link href="~/assets/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

  <!-- Theme -->
  <link href="~/assets/css/spark.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" /> -->

    @Html.Raw(ViewData["Styles"])

  </head>
  <body>
    @RenderBody()

    <!-- Here we're passing down any data to be used by grabbed and parsed by Angular -->
    @Html.Raw(ViewData["TransferData"])
    @Html.Raw(ViewData["Scripts"])

    @RenderSection("scripts", required: false)

  </body>
</html>
